<!doctype html>



<html>
  
 <head>

   <style type="text/css">

   div.one { border: 2px solid #F16664;
           margin: 2px;
           position: relative;
           width: 100px;
           height: 100px;
           top: 15px;
           left: 25px;   
           }

   div.two { border: 2px solid #6BB7B9;
           margin: 2px;
           position: relative;
           width: 100px;
           height: 100px;
           top: 15px;
           float: left; 
           }
   div.three { border: 2px solid #007D8C;
             margin: 2px;
             position: relative;
             width: 100px;
             height: 100px;
             top: 15px;
             left: 170px; 
             }
    
   </style>
   <title> Yolo </title>

 </head>



 <body>

 
   <img src="https://static.boughtbymany.com/media/timeline/airbnb-host-insurance-uk.png"/>    

   <div class="one"> </div>
   <div class="two"> </div>
   <div class="three"> </div>
  



 </body>



</html>